<div class="page-header">
  <h2>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
</div>

<div class="row-fluid">
  <div class="span4">
	<img height="150" width="150" src="/img/2019.jpeg">
  </div>
  <div class="span8">
	<h4>Contact</h4>
	Fondazione Bruno Kessler<br/>
	University of Trento <br/>
	f.lastname(at)fbk.eu <br/>
	<a href="https://github.com/slouvan">Github</a> <br/>
	<a href="https://www.linkedin.com/in/samuel-louvan-9151bb2">LinkedIn</a>
  </div>
</div>
<div class="row-fluid spacer">
  <div class="span12">
	{{ content }}
  </div>
</div>
